<app-titulo [titulo]="'Eventos'"></app-titulo>
<div  class="form-inline">
  <div class="form-group mb-2">
  <label class="mr-2">Filtro:</label>
  <input
        type="text"
        class="form-control mr-2"
        placeholder="buscar"
        [(ngModel)]="filtroLista"
        >
</div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="isImage = !isImage">
        <i class="{{isImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
        {{isImage ? 'Exibir' : 'Ocultar'}}
      </button>

      </th>
      <th>#</th>
      <th>Id</th>
      <th>Local</th>
      <th>Tema</th>
      <th>Data</th>
      <th>Quantidade</th>
      <th>Lote</th>

      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-center">
        <img  [collapse]="isImage"
              [isAnimated]="true"
        src="/assets/{{evento.imagemURL}}"
        [style.width.px]="imgWidth"
        [style.margin.px]="imgMargin">
      </td>
      <td></td>
      <td>{{evento.id}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.quantidade}}</td>
      <td>{{evento.lotes[0].nome}}</td>

      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="8" class="text-center">
        <h5>Nenhum evento encontrado!</h5>
      </td>
    </tr>
  </tfoot>

</table>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Você quer deletar o evento ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
